<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stray Animal Welfare</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <img src="./images/stray-animal-welfare-high-resolution-logo (3).png" class="logo">
        <p class="title cormorant-infant-bold">Stray Animal Welfare</p>
        <div class="hyperlink">
            <a href="login">Login </a>
            <a href="index.html">Home </a>
            <a href="#contact">Contact us </a>
        </div>
        
    </div>
    <div class="main">
        <div class="tag">
            <p class="Lora">
                Caring for Creatures: A Lifelong Commitment
            </p>
        </div>
        <div class="invalid cormorant-infant-bold" style="color: #fff;background: rgba(0, 0,  0, 0.3); font-size: 2rem;">
            <p>Successfully Registered</p>
            <a href="login">Log In</a>
        </div>
    </div>
    <div class="contact" id="contact">
        <p>Email: strayanimalwelfare@gmail.com</p>
      <p>Contact us: 91526#####, 98767#####</p>
      <p>Currently Service available in Trichy, Vellor, Madurai, Pudukkottai, Chennai.</p>
    </div>
    
</body>
</html>